<div class="row">
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Formations <small>Defined formations to start</small></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-condensed" ng-controller="FormationsCtrl">
            <thead>
                <tr>
                    <th style="width: 20%;">Name</th>
                    <th>Description</th>
                    <th>File</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="formation in formations">
                <td><a href="/#/formation-view/{{formation.fileName}}">{{formation.name}}</a></td>
                <td>{{formation.description}}</td>
                <td>{{formation.fileName}}</td>
                <td><a href="/repo/locale/formations/{{formation.fileName}}/run"><button type="button" class="btn btn-success btn-sm">Run</button></a></td>
            </tr>
        </table>
        <button type="button" class="btn btn-info btn-sm">Create</button>
    </div>
</div>