<div class="row">
	<div class="col-md-12">
	  <div class="page-header">
	    <h1>Deploy-Man Web <small>Deploy Docker containers to Amazon EC2</small></h1>
	  </div>
	</div>
</div>

<div class="row">
	<div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
			<li>
				<a href="#/instances-view"><span class="glyphicon glyphicon-cloud"></span></a>
				<a href="#/instances-view"><span class="glyphicon-class">Instances</span></a>
			</li>
			<li>
				<a href="#/databases-view"><span class="glyphicon glyphicon-folder-open"></span></a>
				<a href="#/databases-view"><span class="glyphicon-class">Databases</span></a>
			</li>
		</ul>
	</div>

	<div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
			<li>
				<a href="#/images-view"><span class="glyphicon glyphicon-th-large"></span></a>
				<a href="#/images-view"><span class="glyphicon-class">Images</span>
				<span class="glyphicon-class">(remote)</span></a>
			</li>
			<li>
				<a href="#/configs-view"><span class="glyphicon glyphicon-cog"></span></a>
				<a href="#/configs-view"><span class="glyphicon-class">Configs</span>
				<span class="glyphicon-class">(remote)</span></a>
			</li>
			<li>
				<a href="#/formations-view"><span class="glyphicon glyphicon-list"></span></a>
				<a href="#/formations-view"><span class="glyphicon-class">Formations</span>
				<span class="glyphicon-class">(locale)</span></a>
			</li>
			<li>
				<a href="#/setups-view"><span class="glyphicon glyphicon-retweet"></span></a>
				<a href="#/setups-view"><span class="glyphicon-class">Setups</span>
				<span class="glyphicon-class">(locale)</span></a>
			</li>
		</ul>
	</div>

	<div class="bs-glyphicons">
		<ul class="bs-glyphicons-list">
			<li>
				<a href="#/jobs-view"><span class="glyphicon glyphicon-flash"></span></a>
				<a href="#/jobs-view"><span class="glyphicon-class">Jobs</span></a>
			</li>
			<li>
				<a href="#/settings-view"><span class="glyphicon glyphicon-briefcase"></span></a>
				<a href="#/settings-view"><span class="glyphicon-class">Settings</span></a>
			</li>
			<li>
				<a href="#/routes-view"><span class="glyphicon glyphicon-globe"></span></a>
				<a href="#/routes-view"><span class="glyphicon-class">API</span></a>
			</li>
			<li>
				<a href="#/inits-view"><span class="glyphicon glyphicon-paperclip"></span></a>
				<a href="#/inits-view"><span class="glyphicon-class">Inits</span></a>
			</li>
			<li>
				<a href="#/help-view"><span class="glyphicon glyphicon-question-sign"></span></a>
				<a href="#/help-view"><span class="glyphicon-class">Help</span></a>
			</li>
		</ul>
	</div>
</div>